#
# Make a copy of this file, rename it to .env
# Set the variables according to your preferences
#

############################# NETWORK CONFIGURATION ##############################
# The IP or domain name of Hashstation server
HASHSTATION_SERVER_HOST="localhost"

# Hostname for Hashstation
HASHSTATION_HOST=${HASHSTATION_SERVER_HOST}
# SSL state of Hashstation: 'y' or 'n'
SSL_HASHSTATION='n'
# http or https (if SSL_HASHSTATION='y')
HASHSTATION_PROTO=http
# Port for Hashstation backend (5443 for SSL)
BACKEND_PORT=5000
# Port for Hashstation frontend (443 for SSL)
FRONTEND_PORT=80

# BOINC server IP
BOINC_HOST=${HASHSTATION_SERVER_HOST}
# SSL state of BOINC server: 'y' or 'n'
SSL_BOINC='n'
# http or https (if SSL_BOINC='y')
BOINC_PROTO=http
# BOINC server port (443 for SSL)
BOINC_PORT=80

# NOTE: It is completely OK when BOINC server and Hashstation frontend run on
#       the same port. The BOINC server uses http(s)://HOST/hashstation* aliases.
#       To use different ports, also modify the mapping in docker-compose.yml

# Public key for your domain (if SSL is on)
SSL_CERTIFICATE_FILE="fullchain.pem"
# Private key for your domain (if SSL is on)
SSL_CERTIFICATE_KEYFILE="privkey.pem"

# NOTE: SSL keys should be copied into 'certificates' directory
#       Certificates are only loaded if SSL_HASHSTATION='y' or SSL_BOINC='y'

##################################################################################

############################# DATABASE CONFIGURATION #############################
# MySQL server hostname
HASHSTATION_DB_HOST="localhost"
# MySQL server username
HASHSTATION_DB_USER="hashstation"
# MySQL server password
HASHSTATION_DB_PW="mysqlPASSWORD"
# MySQL server database name
HASHSTATION_DB_NAME="hashstation"
##################################################################################

################################ HASHSTATION ACCESS #################################
# Default Hashstation (and _ops) login
HASHSTATION_LOGIN="hashstation"
# Default Hashstation (and _ops) password
HASHSTATION_PW="HASHSTATION"
# Default Hashstation user email
HASHSTATION_EMAIL="me@hashstation.cz"
##################################################################################

# Advanced =======================================================================

# Disable if you want to run FE on different hostname. When enabled, allows 
# accessing Hashstation both via IP and via domain name.
DYNAMIC_BACKEND_URL='y'
