#
# Make a copy of this file, rename it to .env
# Set the variables according to your preferences
#

############################# NETWORK CONFIGURATION ##############################
# The IP or domain name of Fitcrack server
FITCRACK_SERVER_HOST="localhost"

# Hostname for Fitcrack
FITCRACK_HOST=${FITCRACK_SERVER_HOST}
# SSL state of Fitcrack: 'y' or 'n'
SSL_FITCRACK='n'
# http or https (if SSL_FITCRACK='y')
FITCRACK_PROTO=http
# Port for Fitcrack backend (5443 for SSL)
BACKEND_PORT=5000
# Port for Fitcrack frontend (443 for SSL)
FRONTEND_PORT=80

# BOINC server IP
BOINC_HOST=${FITCRACK_SERVER_HOST}
# SSL state of BOINC server: 'y' or 'n'
SSL_BOINC='n'
# http or https (if SSL_BOINC='y')
BOINC_PROTO=http
# BOINC server port (443 for SSL)
BOINC_PORT=80

# NOTE: It is completely OK when BOINC server and Fitcrack frontend run on
#       the same port. The BOINC server uses http(s)://HOST/fitcrack* aliases.
#       To use different ports, also modify the mapping in docker-compose.yml

# Public key for your domain (if SSL is on)
SSL_CERTIFICATE_FILE="fullchain.pem"
# Private key for your domain (if SSL is on)
SSL_CERTIFICATE_KEYFILE="privkey.pem"

# NOTE: SSL keys should be copied into 'certificates' directory
#       Certificates are only loaded if SSL_FITCRACK='y' or SSL_BOINC='y'

##################################################################################

############################# DATABASE CONFIGURATION #############################
# MySQL server hostname
FITCRACK_DB_HOST="localhost"
# MySQL server username
FITCRACK_DB_USER="fitcrack"
# MySQL server password
FITCRACK_DB_PW="mysqlPASSWORD"
# MySQL server database name
FITCRACK_DB_NAME="fitcrack"
##################################################################################

################################ FITCRACK ACCESS #################################
# Default Fitcrack (and _ops) login
FITCRACK_LOGIN="fitcrack"
# Default Fitcrack (and _ops) password
FITCRACK_PW="FITCRACK"
# Default Fitcrack user email
FITCRACK_EMAIL="me@fitcrack.cz"
##################################################################################

# Advanced =======================================================================

# Disable if you want to run FE on different hostname. When enabled, allows 
# accessing Fitcrack both via IP and via domain name.
DYNAMIC_BACKEND_URL='y'
