flask==2.3.3
Flask-APScheduler==1.13.0
Flask-Cors==4.0.0
Flask-Login==0.6.2
Flask-Migrate==4.0.4
flask-restx==1.1.0
Flask-Script==2.0.6
flask-sqlalchemy==3.0.5
PyMySQL==0.9.3
mysql-connector-python==8.0.33
psutil==5.9.1
msgpack==1.0.4
PyJWT==2.7.0
werkzeug==2.3.7
SQLAlchemy==2.0.20
apprise==1.5.0
